/.idea/
/ex05/mysql-volume/
/ex06/data/
/ex08/docker-test-db/store/
/ex08/docker-test-server/.gradle/
/ex08/docker-test-server/build/
/ex09/.idea/
/ex09/db/store/
/ex09/product/gradle/
/ex09/my-app/node_modules/
/ex09/my-app/build/
/ex09/product/.gradle/
/ex09/product/.idea/
/ex09/product/build/
